.navbar {
    background-color: #B5D6B7;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    height: 40px;
    position: relative;
}

.navbar img{
    height: 40px;
    width: auto;
    padding:0px;
    border-radius: 5px;
}

.navbar a {
    justify-content: space-between;
    justify-self: center;
    background-color: #5D8E5A ;
    padding: 10px;
    color: white;
    border-radius: 5px;
}


.navbar a:link { text-decoration: none; }


.navbar a:visited { text-decoration: none; }


.navbar a:hover { text-decoration: none; }


.navbar a:active { text-decoration: none; }

.loginMain {
    background-color: lightgray;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    height: 1080px;
    
}

.Container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, 200px));
    grid-gap: 20px;
    margin: 1% 5%;
    justify-self: center;
    align-self: center;
    
}

.productCard {
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1px 1px;
    overflow: hidden;
    text-align: center;
    align-items: center;
    background-color: white;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0.1) 100%);
}

.productCard img {
    margin-top: 10px;
    width: 100px;
}

.productCard button {
    background-color: #B5D6B7;
}

.productCard * {
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.FeaturedProducts {
    background-color: darkgray;
    display: flex;
    white-space: nowrap;
    justify-content: space-evenly;
    flex-flow: row nowrap;
    overflow-x: auto;
    width: 1000px;
    gap: 40px;
    align-self: center;
    border-radius: 10px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.FeaturedProducts * {
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.FeaturedProducts::-webkit-scrollbar {
    display: none;
  }

.search {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search input {
    width: 50rem;
    text-align: center;
    height: auto;
    overflow: hidden

}

body {
    height: 100vh;
    width: 100%;
    margin: 0px;
    background-color: lightgray;
    overflow-x: hidden;
}

.WelcomePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    margin-bottom: 0px;
    bottom: 0px;
}

.addContainer {
    display: flex;
    justify-content: center;
}

.addContainer button {
    width: 50vh;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
}


.WelcomeBanner {
    justify-self:flex-start;
    margin-bottom: 10%;
}

.cartContainer {
    display: flex;
    flex-flow: column wrap;
    width: 45%;
}

.itemContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0.1) 100%);
  }

  .checkoutContainer {
    width: 30%;
    position: absolute;
    left: 50%;
    top: 13%;
  }

  .Checkout {
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0.1) 100%);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
  }

  .Checkout h2 {
    margin-left: 40%;
  }

  .Checkout button {
    margin-left: 45%;
  }
  
  .itemContainer img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .itemContainer h3#name {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
  }
  
  .itemContainer p#price {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
  }
  
  .itemContainer p {
    margin: 0;
    font-size: 14px;
  }
  
  .itemContainer button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .itemContainer button:not(:last-child) {
    margin-right: 10px;
  }
  
  .itemContainer button#item1 {
    background-color: #f44336;
  }
  
  .itemContainer button#item2 {
    background-color: #2196F3;
  }
  
  .itemContainer button#item3 {
    background-color: #ff9800;
  }